

* {margin: 0;padding: 0; box-sizing: border-box;}
body {          }
#viewport {
    width: 1280px;
    height:768px;
    margin: 0 auto;
    border:1px solid #000;
    background:#fff;
    overflow:auto;
    display:flex;
    flex-direction: row;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    flex-basis:6%;

}

.cell {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    /*resize: both;*/
    overflow:auto;
    width:auto;
    height: auto;
    /*min-width:60px;*/
    /*min-height:70px;*/
    margin:2px;
    /*border:1px solid #f00;*/
    /*text-align:center;*/
    /*float:left;*/
    flex: 1;
    /*flex-basis:6%;*/
}
.item-img {
    /*display: none;*/
    /*display: block;*/
    /*overflow: hidden;*/
    /*position: relative;*/
    /*height: 100%;*/
    /*width: 100%;*/
    max-height: 90px;
    max-width: 100%;
    /*height: auto;*/
    /*width: auto;*/
    margin: 0 auto;
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

#topstrip{
    width: 100%;
    height: 54px;
    text-align:center;
    font-size: 42px;
    background: #f00;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
#presentation {
}
.Pwrap {
    position: fixed;
    height: 500px;
    /*width: 700px;*/
    margin-top: -250px;
    margin-left: -350px;
    top: 50%;
    left: 50%;
    background: rgba(240, 240, 240, 0.95);
    border : 3px solid gray;
    border-radius: 16px;
    padding: 20px;
    display: none;
    opacity: 0;
    /*transition: opacity .5s ease-out;*/
    /*-moz-transition: opacity .5s ease-out;*/
    /*-webkit-transition: opacity .5s ease-out;*/
    /*-o-transition: opacity .5s ease-out;*/

    /*transition: opacity 1s, height 0;*/
    /*transition: all 1s linear;*/
    -webkit-box-shadow: -6px 6px 15px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: -6px 6px 15px 0 rgba(0,0,0,0.75);
    box-shadow: -6px 6px 15px 0 rgba(0,0,0,0.75);
}
.leftcontainer{
    float:left;height: 500px;width: 300px;
    padding: 30px; max-height: 100%;
}
.leftcontainer img{
    max-height: 100%;
    display: block;
    margin: 0 auto;
}
.rightcontainer{float:left;height: 500px;width: 400px;padding: 10px;}
.Ptitle,.Pregprice,.Psaleprice,.Psavings{
    color: #666;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
.Ptitle{font-size:38px; line-height:59px;color: #000;}
.Pregprice{font-size:32px; line-height:79px;}
.Psaleprice{font-size:32px; line-height:79px;}
.Psavings{font-size:32px; line-height:79px;}


/*
.hidden {
    opacity: 0;
    transition: opacity 1s, height 0 1s;
    height: 0;
}
*/




