<div id="vi-fix" style="position: relative; top: 0px; left: 0px;">
    <style type="text/css">body {
        background-repeat: no-repeat;
        background-image: url(BGLunch.jpg), url(http://www.vi-nutritionalcenter.com/menu/lib/hotstuff/BGLunch.jpg);
        background-color: #ffffff;
        border: none;
        color: #ffffff;
        margin: 0px;
        padding: 0px;
    }

    span {
        color: #ffffff;
        text-shadow: 1px 1px 3px #000000;
    }

    @font-face {
        font-family: "ArcherBold";
        src: url(ArcherBold.otf), url(http://www.vi-nutritionalcenter.com/menu/lib/hotstuff/ArcherBold.otf) format("opentype");
    }

    .header {
        color: #FFFFFF;
        font-family: "ArcherBold", sans-serif;
        font-size: 72px;
        left: 10px;
        top: 15px;
        position: absolute;
        text-transform: uppercase;
    }

    .scroller {
        color: #e10000;
        font-family: "ArcherBold", sans-serif;
        font-weight: normal;
        font-size: 64px;
        height: 90px;
        left: 0px;
        position: absolute;
        text-transform: uppercase;
        text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
        top: 680px;
        -webkit-text-stroke: 1px #990000;
        width: 1280px;
        z-index: 999;
    }
    </style>
    <script type="text/javascript">
        window.addEventListener('load', eventWindowLoaded, false);
        var videoDiv;
        var videoSrc;
        var videoElement;
        var client = 'hotstuff';
        var bgVideo = 'HS_Lunch_2012_NoTxt.ogv';
        function eventWindowLoaded() {
            videoElement = document.createElement("video");
            videoDiv = document.getElementById('bgVideo');
            videoDiv.appendChild(videoElement);
            videoDiv.setAttribute("style", "position:absolute;left:0px;top:0px;");

            videoSrc = 'Local file: ';
            videoElement.setAttribute("width", 1280);
            videoElement.setAttribute("height", 768);
            videoElement.setAttribute("src", bgVideo);
            videoElement.setAttribute("loop", "true");
            videoElement.setAttribute("autoplay", "true");
            videoElement.addEventListener("error", loadError, false);
            videoElement.addEventListener("progress", updateLoadingStatus, false);
            videoElement.addEventListener("canplaythrough", videoLoaded, false);
        }

        function updateLoadingStatus() {
            var loadingStatus = document.getElementById("loadingStatus");
            var percentLoaded = parseInt((videoElement.buffered.end(0) / videoElement.duration) * 100);
            document.getElementById("loadingStatus").innerHTML = videoSrc + percentLoaded + '% loaded';
        }

        function videoLoaded(event) {
            document.getElementById("loadingStatus").innerHTML = videoSrc + 'Video Loaded';
        }

        function loadError() {
            videoSrc = 'Web file: ';
            document.getElementById("loadingStatus").innerHTML = 'Load Error.. trying alternate video';
            videoElement.setAttribute("src", "http://www.vi-nutritionalcenter.com/menu/lib/" + client + "/" + bgVideo);
            videoElement.play();
        }

        function loadScroller() {
            var i;
            var j = 1;
            var sw = document.getElementById('scrollertext').style.width;
            sw.left = '1280px';
            for (i = 1280; i > (-1280); i--) {
                setTimeout('moveScroller(' + i + ');', j * 10);
                j++;
            }
            setTimeout('loadScroller();', j * 10);
        }

        function moveScroller(pos) {
            document.getElementById('scrollertext').style.left = pos + 'px';
        }
    </script>
    <div class="scroller" style="top: 690px; background-color: rgb(255, 255, 255);">
        <div id="scrollertext" style="width: 1280px; height: 90px; position: relative;">THANK YOU FOR STOPPING BY</div>
    </div>

    <div id="loadingStatus"
         style="left: 0px; top: -50px; color: rgb(255, 255, 255); font-size: 12px; position: absolute; z-index: 999; text-shadow: 2px 2px 5px rgba(0,0,0,0.5);">
        0% loaded
    </div>

    <div id="bgVideo"><!-- THIS IS VERY IMPORTANT, WE DYNAMICALLY PLACE THE BACKGROUND VIDEO HERE --></div>

    <div class="header" style="display: none;"><img border="0" onerror="src='http://www.vi-nutritionalcenter.com/menu/lib/hotstuff/HotStuff_Logo.png';"
                                                    src="HotStuff_Logo.png"/>

        <div style="left: 150px; top: 3px; position: absolute;">lunch</div>
    </div>
    <script>
        loadScroller();
    </script>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>
</div>
<link href="http://fonts.googleapis.com/css?family=Orienta" rel="stylesheet" type="text/css"/>
<div style="font-family:;">
    <div style="left: 15px; top: 135px; position: absolute;">
        <table border="0" cellpadding="0" cellspacing="0" width="800">
            <tbody>
            <tr style="font-size: 18px; font-weight: bold;">
                <td valign="bottom"><span style="font-size: 34px;"><u>Pizza</u></span></td>
                <td align="center" valign="bottom"><span>Personal<br/>
			<u>Size Pan Pizza</u></span></td>
                <td align="center" valign="bottom"><span>Medium<br/>
			<u>Pan or Thin Crust</u></span></td>
                <td align="center" valign="bottom"><span>Large<br/>
			<u>Thin&nbsp;Crust Pizza</u></span></td>
                <td align="center" valign="bottom">&nbsp;</td>
                <td align="center" valign="bottom"><span>Large<br/>
			<u>Pan Crust Pizza</u></span></td>
            </tr>
            <tr style="color: rgb(0, 0, 0); font-size: 20px; font-weight: bold;">
                <td>1 - Topping</td>
                <td align="center">$4.19</td>
                <td align="center">$6.99</td>
                <td align="center">$10.99</td>
                <td align="center">&nbsp;</td>
                <td align="center">$10.99</td>
            </tr>
            <tr style="color: rgb(0, 0, 0); font-size: 20px; font-weight: bold;">
                <td>Specialty</td>
                <td align="center">$4.19</td>
                <td align="center">$7.99</td>
                <td align="center">$10.99</td>
                <td align="center">&nbsp;</td>
                <td align="center">$10.99</td>
            </tr>
            <tr style="color: rgb(0, 0, 0); font-size: 20px; font-weight: bold;">
                <td>&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div style="left: 15px; top: 265px; position: absolute;">
        <table border="0" cellpadding="0" cellspacing="0" width="425">
            <tbody>
            <tr style="font-size: 20px; font-weight: bold;">
                <td colspan="2" valign="bottom"><span style="font-size: 34px;"><u>Burgers &amp; Sandwiches</u></span>
                </td>
            </tr>
            <tr style="color: rgb(0, 0, 0); font-size: 20px; font-weight: bold;">
                <td width="350">Grilled Chicken Sandwich</td>
                <td align="center">$4.59</td>
            </tr>
            <tr style="color: rgb(0, 0, 0); font-size: 20px; font-weight: bold;">
                <td>Cheeseburger</td>
                <td align="center">$4.59</td>
            </tr>
            <tr style="color: rgb(0, 0, 0); font-size: 20px; font-weight: bold;">
                <td>Bacon Cheeseburger</td>
                <td align="center">$4.59</td>
            </tr>
            <tr style="color: rgb(0, 0, 0); font-size: 20px; font-weight: bold;">
                <td>&nbsp;</td>
                <td align="center">&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td align="center">&nbsp;</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div style="left: 15px; top: 410px; position: absolute;">
        <table border="0" cellpadding="0" cellspacing="0" width="425">
            <tbody>
            <tr style="font-size: 20px; font-weight: bold;">
                <td colspan="2" valign="bottom"><span style="font-size: 34px;"><u>Appetizers</u></span></td>
            </tr>
            <tr style="color: rgb(0, 0, 0); font-size: 18px; font-weight: bold;">
                <td width="350">&nbsp;</td>
                <td align="center">&nbsp;</td>
            </tr>
            <tr style="color: rgb(0, 0, 0); font-size: 20px; font-weight: bold;">
                <td>Egg Rolls</td>
                <td align="center">$2.29</td>
            </tr>
            <tr style="color: rgb(0, 0, 0); font-size: 20px; font-weight: bold;">
                <td>Cookies</td>
                <td align="center">.89&cent;</td>
            </tr>
            <tr style="color: rgb(0, 0, 0); font-size: 20px; font-weight: bold;">
                <td>&nbsp; Chocolate Chip, M&amp;M</td>
                <td align="center">&nbsp;</td>
            </tr>
            <tr style="color: rgb(0, 0, 0); font-size: 20px; font-weight: bold;">
                <td>&nbsp; Reese&#39;s Pieces, Sugar</td>
                <td align="center">&nbsp;</td>
            </tr>
            <tr style="color: rgb(0, 0, 0); font-size: 20px; font-weight: bold;">
                <td>&nbsp; Oatmeal Raisin, Snickerdoodle</td>
                <td align="center">&nbsp;</td>
            </tr>
            <tr style="color: rgb(0, 0, 0); font-size: 20px; font-weight: bold;">
                <td>&nbsp; Peanut Butter</td>
                <td align="center">&nbsp;</td>
            </tr>
            <tr style="color: rgb(0, 0, 0); font-size: 20px; font-weight: bold;">
                <td>&nbsp; White Chocolate Macadamia</td>
                <td align="center">&nbsp;</td>
            </tr>
            <tr style="color: rgb(0, 0, 0); font-size: 20px; font-weight: bold;">
                <td>&nbsp;</td>
                <td align="center">&nbsp;</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<p>&nbsp;</p>
<!-- end fix -->