http://www.siteforinfotech.com/2013/07/create-simple-image-slideshow-using-javascript.html
<script type="text/javascript">
    var i = 0;
    var image = new Array();
    // LIST OF IMAGES 
    image[0] = "image_1.gif";
    image[1] = "image_2.gif";
    image[2] = "image_3.gif";
    var k = image.length - 1;
    var caption = new Array();
    // LIST OF CAPTİONS  
    caption[0] = "Caption for the first image";
    caption[1] = "Caption for the second image";
    caption[2] = "Caption for the third image";
    function swapImage() {
        var el = document.getElementById("mydiv");
        el.innerHTML = caption[i];
        var img = document.getElementById("slide");
        img.src = image[i];
        if (i < k) {
            i++;
        }
        else {
            i = 0;
        }
        setTimeout("swapImage()", 5000);
    }
    function addLoadEvent(func) {
        var oldonload = window.onload;
        if (typeof window.onload != 'function') {
            window.onload = func;
        } else {
            window.onload = function () {
                if (oldonload) {
                    oldonload();
                }
                func();
            }
        }
    }
    addLoadEvent(function () {
        swapImage();
    });
</script>
<table style="border:3px solid #00aaff;background-color:#00aaaa;">
    <tr>
        <td>
            <img name="slide" id="slide" alt="my images" height="285" width="485" src="image_1.gif"/>
        </td>
    </tr>
    <tr>
        <td align="center" style="font:small-caps bold 15px georgia; color:blue;">
            <div id="mydiv"></div>
    </tr>
    </td>
</table> 
