<div id="vi-fix" style="position: relative; top: 0px; left: 0px;"><!--video autoplay="" loop="" style="position:absolute; top:0; left:-480px; width:100%; height:100%;"><source src="salsaritasBfast2.ogv" /> <source src="http://vi-digital.com/lib/vicorporatemenus/salsaritasBfast2.ogv" /></video-->
    <style type="text/css">@font-face {
        font-family: "Veneer W01 Two";
        src: url('http://vi-digital.com/lib/fonts/VeneerTwo.otf') format("opentype");
    }@font-face {
        font-family: "Badhouse Bold";
        src: url('http://vi-digital.com/lib/fonts/BadhouseBold.ttf') format("truetype");
    }body, html {
        background-color:#ffffff; color:#000;
        padding:0; margin:0;
    }
    #background{
        background-image:url('Bfast2BG.png'), url('http://vi-digital.com/lib/vicorporatemenus/Corporate---Salsaritas/Bfast2BG.png');
        background-repeat:no-repeat;
        background-position:right center;
        height:100%; width:100%;position: absolute;
    }
    td {font-size:46px; font-family: "Badhouse Bold",Arial,Verdana,sans-serif;}
    #divider{ position: absolute; background-color: black; height: 1080px; width: 25px; top: 0; left: 935px;  }
    p{margin:0;padding:0;}.header-1,.header-2,.table1,.table2,.table3{position:absolute;}

    .header-1 { top: 50px;  left: 975px;}
    .header-2 { top: 650px; left: 990px;}
    .table1  {  top: 102px; left: 1000px; }
    .table2  {  top: 693px; left: 983px; width: 359px; height: 281px; }
    .table3  {  top: 687px; left: 1427px; width: 359px; height: 281px; }
    .font1-xs   { font-family: "Veneer W01 Two",tahoma,sans-serif; font-size: 28px;}
    .font1-sm   { font-family: "Veneer W01 Two",tahoma,sans-serif; font-size: 38px;line-height: 38px;}
    .font1-md   { font-family: "Veneer W01 Two",tahoma,sans-serif; font-size: 52px;line-height: 46px;}
    .font1-lg   { font-family: "Veneer W01 Two",tahoma,sans-serif; font-size: 64px;line-height: 64px;}
    .font2 { font-family: futura,helvetica,sans-serif; }
    .center {text-align: center;}
    .right {text-align:right;}
    .dim{color: #333;}
    .col-md{width: 130px;}
    .col-lg{width: 340px;}
    .table1 > tbody > tr:first-child td{vertical-align: bottom;}
    </style>
    <div id="background">&nbsp;</div>

    <div id="divider">&nbsp;</div>

    <table class="table1">
        <tbody>
        <tr>
            <td class="col-lg">&nbsp;</td>
            <td class="col-md center font1-sm">Small</td>
            <td class="col-md center font1-sm dim">Small Vegetable</td>
            <td class="col-md center font1-sm">Large</td>
            <td class="col-md center font1-sm dim">Large Vegetable</td>
        </tr>
        <tr>
            <td class="col-lg"><span class="font1-lg">BURRITOS</span></td>
            <td class="col-md center">$0.00</td>
            <td class="col-md center">$0.00</td>
            <td class="col-md center">$0.00</td>
            <td class="col-md center">$0.00</td>
        </tr>
        <tr>
            <td class="col-lg"><span class="font1-lg">TACOS</span></td>
            <td class="col-md center">$0.00</td>
            <td class="col-md center">&nbsp;</td>
            <td class="col-md center">$0.00</td>
            <td class="col-md center">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="5" style="line-height: 25px;">&nbsp;</td>
        </tr>
        <tr>
            <td class="col-lg"><span class="font1-md">BURRITO BOWLS</span></td>
            <td class="col-md center">$0.00</td>
            <td class="col-md center">$0.00</td>
            <td class="col-md center">$0.00</td>
            <td class="col-md center">$0.00</td>
        </tr>
        <tr>
            <td class="col-lg"><span class="font1-md">QUESADILLAS</span></td>
            <td class="col-md center">$0.00</td>
            <td class="col-md center">&nbsp;</td>
            <td class="col-md center">$0.00</td>
            <td class="col-md center">&nbsp;</td>
        </tr>
        <tr>
            <td class="col-lg"><span class="font1-md">NACHOS</span></td>
            <td class="col-md center">&nbsp;</td>
            <td class="col-md center">&nbsp;</td>
            <td class="col-md center">$0.00</td>
            <td class="col-md center">$0.00</td>
        </tr>
        <tr>
            <td class="col-lg"><span class="font1-md">TACO SALADS</span></td>
            <td class="col-md center">&nbsp;</td>
            <td class="col-md center">&nbsp;</td>
            <td class="col-md center">$0.00</td>
            <td class="col-md center">$0.00</td>
        </tr>
        </tbody>
    </table>

    <table class="table2" style="left: 993px; width: 422px; top: 770px; height: 287px;">
        <tbody>
        <tr>
            <td class="font1-sm">Grilled Chicken (All Natural)</td>
        </tr>
        <tr>
            <td class="font1-sm">*Ground Beef</td>
        </tr>
        <tr>
            <td class="font1-sm">*Upgrade to Grilled Steak</td>
        </tr>
        <tr>
            <td class="font1-sm">*Just Veggies for $0 less</td>
        </tr>
        <tr>
            <td class="font1-sm">* Extra Meat $1.25</td>
        </tr>
        </tbody>
    </table>

    <table class="table3" style="top: 771px; left: 1458px; width: 447px; height: 247px;">
        <tbody>
        <tr>
            <td class="font1-sm">CHIPS &amp; SALSA</td>
            <td>$3.09</td>
            <td>$2.29</td>
        </tr>
        <tr>
            <td class="font1-sm">CHIPS &amp; QUESO</td>
            <td>$2.29</td>
            <td>$2.29</td>
        </tr>
        <tr>
            <td class="font1-sm">CHIPS &amp; GUAC</td>
            <td>$3.19</td>
            <td>$3.19</td>
        </tr>
        <tr>
            <td class="font1-sm">RICE &amp; BEANS</td>
            <td>$3.09</td>
            <td>$3.09</td>
        </tr>
        </tbody>
    </table>

    <!-- end fix --></div>
