<div id="vi-fix" style="position: relative; top: 0px; left: 0px;">
    <style type="text/css">
    body { background:#fff; margin:0; padding:0; height:100%; width:100%;box-sizing: border-box; }
    #viewport {
        background:#fff;
        overflow:hidden;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        position: absolute;
    }
    #topstrip {
        width: 100%;
        height: 74px;
        text-align:center;
        padding-top: 18px;
        font-size: 48px;
        background: #f00;
        color: #FFF;
        font-family: Arial, sans-serif;
        font-weight: bolder;
    }
    .cell {
        display: flex;
        align-items: center;
        overflow:auto;
        width:auto;
        height: auto;
        margin:2px;
        flex: 1;
        flex-basis:6%;
    }
    .item-img {
        max-height: 90px;
        max-width: 100%;
        margin: 0 auto;
    }

    .Pwrap {
        position: fixed;
        height: 500px;
        width: 760px;
        margin-top: -250px;
        margin-left: -400px;
        top: 50%;
        left: 50%;
        background: rgba(246, 246, 246, 0.95);
        border : 3px solid #aaaaaa;
        border-radius: 16px;
        padding: 20px;
        display: none;
        opacity: 0;
        -webkit-box-shadow: -6px 6px 15px 0 rgba(0,0,0,0.4);
        -moz-box-shadow:    -6px 6px 15px 0 rgba(0,0,0,0.4);
        box-shadow:         -6px 6px 15px 0 rgba(0,0,0,0.4);
    }
    .leftcontainer { float:left; height: 460px; width: 300px; padding: 20px; max-height: 100%; }
    .rightcontainer{ float:left; height: 480px; width: 400px; padding: 10px; }
    .leftcontainer img {
        display: block;
        max-height: 100%;
        margin: 0 auto;
    }
    .Ptitle,.Pregprice,.Psaleprice,.Psavings{
        color: #666;
        font-family: 'Arial', sans-serif;
        font-weight: bolder;
    }
    .Ptitle{font-size:38px; line-height:59px;color: #000;}
    .Pregprice{font-size:32px; line-height:79px;}
    .Psaleprice{font-size:32px; line-height:79px;}
    .Psavings{font-size:38px; line-height:82px; color: red; font-weight: bold; }
    </style>
    <script src="jquery.1.11.1.js" type="text/javascript"></script><script>window.jQuery || document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"><\/script>');</script>
    <div id="viewport">
        <div id="topstrip">May Specials</div>
    </div>

    <div id="presentation">&nbsp;</div>
    <script type="text/javascript">
        window.jQuery || alert('jQuery not loaded');
        var jdata = [{"code":"23-060","name":"Jim Beam Black","url_image":"http://vi-digital.com/lib/abc/ABC-Cherry/JimBeamBlack.png","size":".75L","regprice":"$26.95 ","saleprice":"$22.95 ","savings":"$4.00 "},{"code":"23-086","name":"Larceny(6)","url_image":"http://vi-digital.com/lib/abc/ABC-Cherry/Larceny.png","size":".75L","regprice":"$28.95 ","saleprice":"$25.95 ","savings":"$3.00 "},{"code":"27-015","name":"Knob Creek","url_image":"http://vi-digital.com/lib/abc/ABC-Cherry/KnobCreek.png","size":"1.75L","regprice":"$71.95 ","saleprice":"$64.95 ","savings":"$7.00 "},{"code":"27-115","name":"Henry McKenna Single Barrel(6)","url_image":"http://vi-digital.com/lib/abc/ABC-Cherry/HenryMcKennaSingleBarrel.png","size":".75L","regprice":"$28.95 ","saleprice":"$24.95 ","savings":"$4.00 "},{"code":"27-127","name":"Woodford Reserve","url_image":"http://vi-digital.com/lib/abc/ABC-Cherry/WoodfordReserve.png","size":".75L","regprice":"$37.95 ","saleprice":"$31.95 ","savings":"$6.00 "},{"code":"27-133","name":"Jefferson's Reserve(6)","url_image":"http://vi-digital.com/lib/abc/ABC-Cherry/JeffersonsSmallBatchBourbon.png","size":".75L","regprice":"$53.95 ","saleprice":"$48.95 ","savings":"$5.00 "},{"code":"33-888","name":"Chivas Regal 12Y","url_image":"http://vi-digital.com/lib/abc/ABC-Cherry/ChivasRegal.png","size":"1.75L","regprice":"$74.95 ","saleprice":"$69.95 ","savings":"$5.00 "},{"code":"35-492","name":"Grand MacNish 12Y","url_image":"http://vi-digital.com/lib/abc/ABC-Cherry/GrandMacnish.png","size":".75L","regprice":"$24.95 ","saleprice":"$20.95 ","savings":"$4.00 "},{"code":"37-798","name":"Forty Creek","url_image":"http://vi-digital.com/lib/abc/ABC-Cherry/FortyCreek.png","size":"1.75L","regprice":"$42.95 ","saleprice":"$37.95 ","savings":"$5.00 "},{"code":"42-918","name":"Beefeater","url_image":"http://vi-digital.com/lib/abc/ABC-Cherry/Beefeater.png","size":".75L","regprice":"$19.95 ","saleprice":"$16.95 ","savings":"$3.00 "},{"code":"42-962","name":"Plymouth(6)","url_image":"http://vi-digital.com/lib/abc/ABC-Cherry/Plymouth.png","size":".75L","regprice":"$36.95 ","saleprice":"$31.95 ","savings":"$5.00 "},{"code":"43-304","name":"American Harvest Organic Spirit(6)","url_image":"http://vi-digital.com/lib/abc/ABC-Cherry/AmericanHarvest.png","size":".75L","regprice":"$25.95 ","saleprice":"$19.95 ","savings":"$6.00 "},{"code":"43-572","name":"FireFly Sweet Tea","url_image":"http://vi-digital.com/lib/abc/ABC-Cherry/FireFlySweetTea.png","size":"1.75L","regprice":"$37.95 ","saleprice":"$30.95 ","savings":"$7.00 "},{"code":"44-023","name":"Rain","url_image":"http://vi-digital.com/lib/abc/ABC-Cherry/RainVodka.png","size":"1.75L","regprice":"$29.95 ","saleprice":"$26.95 ","savings":"$3.00 "},{"code":"46-532","name":"Absolut Orient Apple","url_image":"http://vi-digital.com/lib/abc/ABC-Cherry/AbsolutOrientApple_2.png","size":".75L","regprice":"$21.95 ","saleprice":"$17.95 ","savings":"$4.00 "},{"code":"46-552","name":"Chopin Potato","url_image":"http://vi-digital.com/lib/abc/ABC-Cherry/ChopinPotato.png","size":"1.75L","regprice":"$49.95 ","saleprice":"$44.95 ","savings":"$5.00 "},{"code":"47-051","name":"Blue Chair Bay Coconut Rum","url_image":"http://vi-digital.com/lib/abc/ABC-Cherry/BlueChair_1.png","size":".75L","regprice":"$18.95 ","saleprice":"$15.95 ","savings":"$3.00 "},{"code":"47-145","name":"Calypso Spiced Rum","url_image":"http://vi-digital.com/lib/abc/ABC-Cherry/CalypsoSpicedRum.png","size":"1.75L","regprice":"$17.95 ","saleprice":"$13.95 ","savings":"$4.00 "},{"code":"51-055","name":"Ansac VS","url_image":"http://vi-digital.com/lib/abc/ABC-Cherry/ansac.png","size":"1.75L","regprice":"$53.95 ","saleprice":"$49.95 ","savings":"$4.00 "},{"code":"56-882","name":"Twenty Grand Rose(6)","url_image":"http://vi-digital.com/lib/abc/ABC-Cherry/TwentyGrandRose.png","size":".75L","regprice":"$29.95 ","saleprice":"$25.95 ","savings":"$4.00 "},{"code":"61-950","name":"Wild Turkey American Honey","url_image":"http://vi-digital.com/lib/abc/ABC-Cherry/WildTurkeyAmericanHoney.png","size":".75L","regprice":"$23.95 ","saleprice":"$19.95 ","savings":"$4.00 "},{"code":"63-276","name":"Ryan's Irish Cream","url_image":"http://vi-digital.com/lib/abc/ABC-Cherry/RyansIrishCream.png","size":"1.75L","regprice":"$19.95 ","saleprice":"$15.95 ","savings":"$4.00 "},{"code":"63-561","name":"Pallini Limoncello","url_image":"http://vi-digital.com/lib/abc/ABC-Cherry/PalliniLimoncello.png","size":".75L","regprice":"$23.95 ","saleprice":"$19.95 ","savings":"$4.00 "},{"code":"64-758","name":"Casamigos Blanco Tequila(6)","url_image":"http://vi-digital.com/lib/abc/ABC-Cherry/CasamingosBlanco.png","size":".75L","regprice":"$44.95 ","saleprice":"$39.95 ","savings":"$5.00 "},{"code":"65-047","name":"Lunazul Blanco","url_image":"http://vi-digital.com/lib/abc/ABC-Cherry/LunazulTequilaBlanco.png","size":"1.75L","regprice":"$34.95 ","saleprice":"$29.95 ","savings":"$5.00 "},{"code":"65-080","name":"Sauza 901 Silver Tequila(6)","url_image":"http://vi-digital.com/lib/abc/ABC-Cherry/Sauza901.png","size":".75L","regprice":"$29.95 ","saleprice":"$24.95 ","savings":"$5.00 "},{"code":"65-392","name":"Herradura Reposado(6)","url_image":"http://vi-digital.com/lib/abc/ABC-Cherry/HerraduraReposado.png","size":".75L","regprice":"$44.95 ","saleprice":"$39.95 ","savings":"$5.00 "},{"code":"66-000","name":"Cardinal Gin(6)","url_image":"http://vi-digital.com/lib/abc/ABC-Cherry/BarrelRestedCardinalGin.png","size":".75L","regprice":"$30.95 ","saleprice":"$27.95 ","savings":"$3.00 "}];

        // Declare a globally scoped object and its arrays
        var g = {};
        g.a_imgs = [];
        g.a_name = [];
        g.a_regprice = [];
        g.a_saleprice = [];
        g.a_savings = [];
        g.n_items = jdata.length;

        //    slicedjson = jsonvar.slice(0,40);
        function runeach () {
            $.each(jdata, function (index, val) {
                var thisbox = $("<div />");
                var thisimg = $("<img />");
                thisbox.addClass("cell " + val.code).appendTo("#viewport");
                thisimg.attr("src", val.url_image).addClass("item-img").appendTo(thisbox);
            });
        }
        runeach();
        function stylethegrid (){
            var styles = document.createElement('style');
            var n = g.n_items;
            var s_maxheight = 240;
            var s_flexbasis = 15;
            if (n > 0   && n <= 5  ){ s_maxheight = 540; s_flexbasis = 19;}
            else if (n > 5   && n <= 10 ){ s_maxheight = 340; s_flexbasis = 17;}
            else if (n > 10  && n <= 21 ){ s_maxheight = 190; s_flexbasis = 16;}
            else if (n > 21  && n <= 31 ){ s_maxheight = 150; s_flexbasis = 13;}
            else if (n > 31  && n <= 60 ){ s_maxheight = 140; s_flexbasis = 11;}
            else if (n > 60  && n <= 120){ s_maxheight = 100; s_flexbasis = 6;}
            else if (n > 120 && n <= 180){ s_maxheight = 60;  s_flexbasis = 4;}

            styles.innerHTML = ".cell {flex-basis:"+s_flexbasis+"%;}";
            styles.innerHTML +=".item-img {max-height: "+s_maxheight+"px;}";
            document.body.appendChild(styles);
        }
        stylethegrid();
        //---DETERMINE PRESENTATION SET---//
        // "j" determines linear set from Json,
        // "j" is -1 from both bounds' json-IDs when 1st ID in file is 0001 (j0=json0001, j3=0004)
        // "a" stores set as [0] through [x] depending on length of loop
        for(var a=0,j=0;j<=5;a++,j++){
            g.a_imgs[a]      = new Image();
            g.a_imgs[a].src  = jdata[j].url_image;
            g.a_name[a]      = jdata[j].name;
            g.a_regprice[a]  = jdata[j].regprice;
            g.a_saleprice[a] = jdata[j].saleprice;
            g.a_savings[a]   = jdata[j].savings;
        }
        //Build Presentation HTML for all presentation items
        var html = "";
        for(var i=0; i<g.a_imgs.length; i++){ //loop length = array length
            html += '<div id="Pwrapper'+(i+1)+'" class="Pwrap">'
            + '<div class="leftcontainer">'
            + '<img src="'+g.a_imgs[i].src+'">'
            + '</div>'
            + '<div class="rightcontainer">'
            + '<div class="Ptitle">'+ g.a_name[i]+'</div><hr>'
            + '<div class="Pregprice">Regular Price: '+ g.a_regprice[i]+'</div>'
            + '<div class="Psaleprice">Sale Price: '+ g.a_saleprice[i]+'</div>'
            + '<div class="Psavings">Savings: '+ g.a_savings[i]+'</div>'
            + '</div></div>';
        }
        var el = document.getElementById("presentation");
        el.innerHTML = html;

        //Continuous loop
        var v = 1;
        (function f_runloop() {
            //get new Pwrapper ID
            var thisPwid = "Pwrapper" + (v);
            var thisPwrapper = document.getElementById(thisPwid);
            var cssfadein = { opacity: 1, transition: 'opacity 1s' };
            var cssfadeout = { opacity: 0, transition: 'opacity 1s' };

            var fadein = function()  {$(thisPwrapper).slideDown(900).css(cssfadein);};
            var fadeout = function() {$(thisPwrapper).css(cssfadeout).slideUp(900);};
            var callself = function(){f_runloop();};
            var changev = function (){
                if (v < g.a_imgs.length){v++;}
                else if (v = g.a_imgs.length){v=1;}
            };
            setTimeout(function() {fadein();}, 900);
            setTimeout(function() {fadeout();}, 8200);
            setTimeout(function() {changev();}, 8300);
            setTimeout(function() {callself();}, 9300);
        }());
    </script><!-- end fix --></div>
